.header{
    background-color: #333;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{
    color: white;
    text-decoration:none; 
    align-items: center;
    

}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}

.navigation ul li a:hover{
    background-color: #ccc;
}

.logo{
    letter-spacing: 10px;
    font-size: 1.3em;
}

.main {
    padding: 12rem;
}
